<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>navbar}}
        {{>header}}
        <p>Hello my name is Calvin Nelson, and 26 year old Coding Apprentice for Road To Hire. With the help of Node JS, I built this weather app to better the experience for user's weather API </p>
        
        <img class="portrait" src="/img/calvin.jpg">
    </div>
    
    {{>footer}}
</body>

</html>